#vid {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.nav-item {
  list-style: none;
}
.nav-link {
  color: azure;
  font-family: "Times New Roman", Times, serif;
  font-size: 3vmin;
  font-weight: lighter;
}
#bar {
  background-color: black;
  opacity: 0.6;
}

.input {
  margin: 1rem;
}

#btn {
  background-color: grey;
  padding: px;
  border-radius: 15px;
  color: white;
}
#btn:hover {
  background-color: blue;
}

.errormessage {
  color: red;
}

.error {
  border-color: red;
}
.header {
  text-align: center;

  margin-bottom: 0;
  background-color: whitesmoke;
  color: black;
  opacity: 0.6;
}

input {
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 1rem;
  margin: 2rem;
}
label {
  margin-right: 2rem;
}
#email {
  margin-left: 2rem;
}
.form {
  margin-top: 2rem;
  padding: 1rem;
  border-width: 1rem;
  opacity: 0.6;
  text-align: center;
  padding: 0;
  background-color: black !important;
  color: white;
}
/* #raisley {
 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  border-radius: 10px;
} */
